@page "/"
@layout EmptyLayout

<!-- Header -->
<header>
    <a class="logo"><img src="images/salling-group-logo.png" alt="Salling Group Logo"></a>
    <div class="buttons">
        <a href="/login" class="login-btn">Login</a>
    </div>
</header>

<!-- Hero Section -->
<section class="hero">
    <h1>Recycling & Waste Management System</h1>
    <p>Log in or register to access your dashboard and stay up to date with the latest sustainability and operational data.</p>
    <div class="buttons">
        <a href="/login" class="login-btn-2">Login</a>
    </div>
</section>

